.cnMessengerRoot {
   display: flex;
   position: relative;
   width: 1200px;
   height: 645px;
   box-shadow: 0 0 6px rgb(59, 59, 59);
}

.cnMessengerUsersList {
   display: flex;
   flex-direction: column;
   width: 35rem;
   height: 100%;
   max-height: 100%;
   background-color: #fff;
   border-right: 2px solid #eee;
}

.cnMessengerTopBar {
   position: relative;
   display: flex;
   align-items: center;
   height: 40px;
   background-color: rgb(237, 237, 237);
}

.search-button {
   width: 40px;
   height: 40px;
   border: none;
}

.search-field {
   display: flex;
   margin-left: 7px;
   width: 12rem;
   background-color: rgb(237, 237, 237);
   outline: none;
   border: none;
   font-size: 1.3rem;
}

.user-inner-part {
   height: 100%;
   overflow-x: auto;
}

.user-top-bar-name {
   font-size: 1.5rem;
}

.user-row {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 2px solid #ccc;
   padding: 5px;
   max-width: 100%;
   max-height: 4rem;
   cursor: pointer;
   text-decoration: none;
   color: black;
}

.user-row:hover {
   background-color: #eee;
}

.active {
   background-color: #eee;
}

.user-row-photo {
   width: 55px;
   height: 55px;
   border-radius: 50%;
}

.user-row-name {
   display: flex;
   margin-left: 10px;
   font-size: 20px;
}

.cnMessengerRightPart {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: #fff;
}

.cnMessengerExitBtn {
   height: 30px;
   width: 30px;
   cursor: pointer;
   position: absolute;
   right: 5px;
}

.cnMessengerMainPart {
   display: flex;
   flex-direction: column;
   height: 600px;
}

.cnMessengerBottomArea {
   padding: 10px;
}

.cnMessengerTopArea {
   height: 480px;
}

.cnMessengerTopAreaWrapper {
   max-height: 480px;
   overflow: auto;
}

.cmMessengerTopAreaScroll {
   justify-content: end;
   min-height: 465px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 10px;
}

.cnMessageUnitRoot {
   display: flex;
   flex-direction: column;
   max-width: 350px;
}

.cnMessageUnit {
   display: flex;
   margin-bottom: 10px;
   margin-top: 10px;
   position: relative;
   font-size: 13px;
   padding: 3px;
   color: #fff;
   min-height: 35px;
   min-width: 70px;
   max-width: max-content ;
}

.cnMessageUnitText {
   word-wrap: break-word;
   max-width: 300px;
}

.cnMessageUnitRoot.myMessage .cnMessageUnit {
   background-image: linear-gradient(to top left, #21a6ff, #81b9d2);
   border-radius: 13px 0px 13px 13px;
   align-self: end;
}

.cnMessageUnitRoot.notMyMessage .cnMessageUnit {
   background-image: linear-gradient(to top left, #4bc563, #2cbf7d);
   border-radius: 0px 13px 13px 13px;
}

.myMessage {
   align-self: end;
   margin-right: 5px;
}

.notMyMessage {
   align-self: start;
   margin-left: 5px;
}

.cnMessageUnitTime {
   position: absolute;
   bottom: 4px;
   right: 4px;
   font-size: 10px;
}

.cnMessageUserImage {
   max-width: 300px;
   border-radius: 13px;
   object-fit: cover;
}
